.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fadeInVisible {
  opacity: 1;
  transform: translateY(0);
}

.fadeInSlow {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fadeInSlowVisible {
  opacity: 1;
  transform: translateY(0);
}

.banner {
  object-fit: cover;
}
